/* --------- common --------- */
@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Extrabold Italic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Bold Italic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Regular Italic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans Semibold Italic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.bottom-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 13px;
  height: 9px;
}

.contacts__link_map:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -831px;
  width: 12px;
  height: 16px;
}

.contacts__link_telephone:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -659px;
  width: 12px;
  height: 16px;
}

.socials__link_fb-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2117px;
  width: 43px;
  height: 43px;
}

.socials__link_fb-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2230px;
  width: 43px;
  height: 43px;
}

.socials__link_tw-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2343px;
  width: 43px;
  height: 43px;
}

.socials__link_tw-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2456px;
  width: 43px;
  height: 43px;
}

.socials__link_vk-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2569px;
  width: 43px;
  height: 43px;
}

.socials__link_vk-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2682px;
  width: 43px;
  height: 43px;
}

.goods-list {
  background-image: url(../img/sprite.png);
  background-position: 0px -573px;
  width: 16px;
  height: 16px;
}

.goods-pic-list {
  background-image: url(../img/sprite.png);
  background-position: 0px -745px;
  width: 16px;
  height: 16px;
}

.goods-pic {
  background-image: url(../img/sprite.png);
  background-position: 0px -487px;
  width: 16px;
  height: 16px;
}

.left-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -158px;
  width: 6px;
  height: 9px;
}

.right-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -79px;
  width: 6px;
  height: 9px;
}

.sidebar-list__input:checked + .sidebar-list__label_box:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -917px;
  width: 19px;
  height: 19px;
}

.sidebar-list__input:checked + .sidebar-list__label_radio:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1095px;
  width: 19px;
  height: 19px;
}

.sidebar-list__label_box:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1184px;
  width: 19px;
  height: 19px;
}

.sidebar-list__label_box:hover:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1273px;
  width: 19px;
  height: 19px;
}

.sidebar-list__label_radio:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1362px;
  width: 19px;
  height: 19px;
}

.sidebar-list__label_radio:hover:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1006px;
  width: 19px;
  height: 19px;
}

.slider, .prise-slider:before, .prise-slider:after {
  background-image: url(../img/sprite.png);
  background-position: 0px -318px;
  width: 8px;
  height: 14px;
}

.socials__link_fb:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -1829px;
  width: 26px;
  height: 26px;
}

.socials__link_fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -1925px;
  width: 26px;
  height: 26px;
}

.socials__link_tw:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2021px;
  width: 26px;
  height: 26px;
}

.socials__link_tw {
  background-image: url(../img/sprite.png);
  background-position: 0px -1541px;
  width: 26px;
  height: 26px;
}

.socials__link_vk:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -1637px;
  width: 27px;
  height: 26px;
}

.socials__link_vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -1733px;
  width: 27px;
  height: 26px;
}

.star-off {
  background-image: url(../img/sprite.png);
  background-position: 0px -1451px;
  width: 21px;
  height: 20px;
}

.star-on {
  background-image: url(../img/sprite.png);
  background-position: 0px -402px;
  width: 16px;
  height: 15px;
}

.top-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -237px;
  width: 18px;
  height: 11px;
}

/* --------- adjustment --------- */
* {
  padding: 0;
  margin: 0;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: "Open Sans Regular", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.socials {
  position: absolute;
  top: 50%;
  margin-top: -13px;
}

.socials__list:before, .socials__list:after {
  content: '';
  display: table;
}
.socials__list:after {
  clear: both;
}

.socials__item {
  float: left;
}

.socials__link {
  display: block;
  font-size: 0;
  margin-right: 15px;
}

.logo {
  position: absolute;
  display: block;
  font-size: 0;
  height: 36px;
  left: 0;
  top: 50%;
  margin-top: -18px;
}

.logo__img {
  display: block;
}

.links {
  position: absolute;
  height: 20px;
  line-height: 100%;
  right: 0;
  top: 50%;
  margin-top: -10px;
}

.links__list:before, .links__list:after {
  content: '';
  display: table;
}
.links__list:after {
  clear: both;
}

.links__item {
  float: left;
  margin-left: 33px;
}

.links__link {
  text-decoration: underline;
  font-family: "Open Sans Semibold", sans-serif;
}

.links__link:hover {
  color: #ff6600;
}

/* --------- sections --------- */
.footer {
  position: relative;
}

.header-bottom__wrapper {
  height: 94px;
}

.search {
  position: absolute;
  left: 294px;
  box-sizing: border-box;
  height: 34px;
  line-height: 100%;
  top: 50%;
  margin-top: -17px;
}
.search:before, .search:after {
  content: '';
  display: table;
}
.search:after {
  clear: both;
}

.search__text {
  display: block;
  float: left;
  box-sizing: border-box;
  height: 100%;
  line-height: 100%;
  width: 288px;
  padding: 8px 16px;
  border: 1px solid #dee1e4;
  border-right: none;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
  font-size: 14px;
}

.search__submit {
  display: block;
  float: left;
  height: 100%;
  line-height: 100%;
  box-sizing: border-box;
  padding: 8px 11px;
  border: none;
  border-radius: 0 3px 3px 0;
  background: #ff6600;
  color: white;
  font-family: "Open Sans Semibold", sans-serif;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
}

.search__submit:hover {
  background: #ff751a;
}

.search__submit:active {
  background: #ff6600;
}

.navigate__list:before, .navigate__list:after {
  content: '';
  display: table;
}
.navigate__list:after {
  clear: both;
}

.navigate__item {
  float: left;
}

.navigate__link {
  display: block;
  line-height: 20px;
  vertical-align: middle;
  padding: 16px;
}

.navigate__link:hover {
  background: #e4e2e2;
}

.navigate__link_active, .navigate__link_active:hover {
  background: #ff6600;
  color: white;
}

.header-top__wrapper {
  height: 77px;
}

.socials {
  left: 0;
}

.contacts {
  position: absolute;
  height: 23px;
  line-height: 100%;
  right: 0;
  top: 50%;
  margin-top: -11.5px;
}

.contacts__list:before, .contacts__list:after {
  content: '';
  display: table;
}
.contacts__list:after {
  clear: both;
}

.contacts__item {
  float: left;
  margin-left: 105px;
}

.contacts__link {
  font-size: 14px;
  position: relative;
}

.contacts__link:before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: -20px;
}

.contacts__link_telephone {
  font-size: 18px;
  font-family: "Open Sans Semibold", sans-serif;
}

.main-header {
  font-size: 16px;
}

.header-nav, .header-top {
  background: white;
  border-bottom: 2px solid #ebedef;
}

.header-top__wrapper, .header-bottom__wrapper, .navigate {
  width: 1100px;
  margin: auto;
  position: relative;
}
.header-top__wrapper:before, .header-top__wrapper:after, .header-bottom__wrapper:before, .header-bottom__wrapper:after, .navigate:before, .navigate:after {
  content: '';
  display: table;
}
.header-top__wrapper:after, .header-bottom__wrapper:after, .navigate:after {
  clear: both;
}

.breadcrumb {
  box-sizing: border-box;
  height: 121px;
  padding-top: 28px;
}

.breadcrumb__list {
  font-size: 14px;
}
.breadcrumb__list:before, .breadcrumb__list:after {
  content: '';
  display: table;
}
.breadcrumb__list:after {
  clear: both;
}

.breadcrumb__item {
  float: left;
  margin-right: 15px;
  position: relative;
}

.breadcrumb__item:after {
  display: block;
  content: '>';
  position: absolute;
  bottom: 0;
  right: -10px;
}

.breadcrumb__item_active:after {
  display: none;
}

.breadcrumb__link:hover {
  text-decoration: underline;
}

.breadcrumb__link_active {
  color: #ff6600;
  text-decoration: underline;
}

.catalog-title {
  font-size: 20px;
  font-family: "Open Sans Bold", sans-serif;
  margin-top: 16px;
}

.content {
  float: left;
  box-sizing: border-box;
  width: 743px;
}

.page {
  width: 1100px;
  margin: auto;
  position: relative;
  font-size: 14px;
}
.page:before, .page:after {
  content: '';
  display: table;
}
.page:after {
  clear: both;
}

.sidebar {
  box-sizing: border-box;
  width: 333px;
  margin-right: 24px;
  float: left;
}

.phone-classes-list, .accordion-list {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;
}

.phone-classes-list {
  margin-bottom: 38px;
}

.phone-classes-list__item, .accordion-list__item {
  border-bottom: 1px solid #dee1e4;
}

.phone-classes-list__item:last-child, .accordion-list__item:last-child {
  border-bottom: none;
}

.phone-classes-list__link {
  color: #7f7f7f;
  display: block;
  height: 45px;
  box-sizing: border-box;
  line-height: 100%;
  vertical-align: middle;
  padding: 14px 30px;
}

.phone-classes-list__link_active {
  background-color: #d9e5ea;
}

.accordion-list__item {
  padding: 9px 30px;
}

.sidebar-list__item {
  padding: 9px 0;
}
.sidebar-list__item:before, .sidebar-list__item:after {
  content: '';
  display: table;
}
.sidebar-list__item:after {
  clear: both;
}

.sidebar-list-title {
  font-size: 16px;
  font-family: "Open Sans Semibold", sans-serif;
  padding-bottom: 6px;
}

.sidebar-list__input {
  display: none;
}

.sidebar-list__label {
  padding-left: 29px;
  display: block;
  position: relative;
}

.sidebar-list__label:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.clear-filter {
  display: inline-block;
  color: #5db2fc;
  text-decoration: underline;
  padding-bottom: 9px;
}

.sidebar-list:before, .sidebar-list:after {
  content: '';
  display: table;
}
.sidebar-list:after {
  clear: both;
}

.sidebar-list__label_text {
  display: block;
  padding: 0;
  float: left;
  line-height: 30px;
  vertical-align: middle;
}

.sidebar-list__label_to {
  margin-left: 45px;
}

.sidebar-list__input-text {
  float: left;
  box-sizing: border-box;
  padding: 7px 8px;
  width: 83px;
  height: 30px;
  border: 1px solid #ebedef;
  box-shadow: inset 0 1px 1px 0 rgba(148, 148, 148, 0.43);
  border-radius: 3px;
  margin-left: 14px;
}

.prise-slider {
  height: 3px;
  background-color: #dee1e4;
  position: relative;
  margin-bottom: 15px;
}

.prise-slider:before, .prise-slider:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -12px;
  cursor: pointer;
}

.prise-slider:before {
  left: -4px;
}

.prise-slider:after {
  right: -4px;
}

.prise-slider__inner {
  background: #ff6600;
  height: 3px;
}

.accordion-list__item_color {
  padding-bottom: 5px;
}

.sidebar-list__item-color {
  width: 36px;
  height: 36px;
  padding: 0;
  float: left;
  border: 1px solid #dee1e4;
  margin: 10px 21px 12px 0;
}

.sidebar-list__item-color:hover {
  box-shadow: 0 0 1px 1px #ff6600;
}

.sidebar-list__item-color_active, .sidebar-list__item-color_active:hover {
  box-shadow: 0 0 1px 2px #ff6600;
  color: blueviolet;
}

.sidebar-list__item-color_white {
  background: #fff;
}

.sidebar-list__item-color_gray {
  background: ##ccc;
}

.sidebar-list__item-color_black {
  background: #000;
}

.sidebar-list__item-color_darkblue {
  background: #0a3153;
}

.sidebar-list__item-color_red {
  background: #ff1800;
}

.sidebar-list__item-color_yellow {
  background: #fff343;
}

.sidebar-list__item-color_orange {
  background: #fb914a;
}

.sidebar-list__item-color_green {
  background: #92c37c;
}

.sidebar-list__item-color_blue {
  background: #40a6ff;
}

.sidebar-list__item-color_violet {
  background: #9870ad;
}

.sidebar-list__item-color_pink {
  background: #dc78ad;
}

.sidebar-list__item-color_brown {
  background: #7f401d;
}

/*# sourceMappingURL=main.css.map */
