/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.bottom-arrow {
  background-image: url(../sprite.png);
  background-position: -260px -412px;
  width: 13px;
  height: 9px;
}
.checbox {
  background-image: url(../sprite.png);
  background-position: -180px -322px;
  width: 19px;
  height: 19px;
}
.checbox:checked {
  background-image: url(../sprite.png);
  background-position: -435px 0px;
  width: 19px;
  height: 19px;
}
.checbox:hover {
  background-image: url(../sprite.png);
  background-position: -435px -89px;
  width: 19px;
  height: 19px;
}
.fb-footer {
  background-image: url(../sprite.png);
  background-position: -226px 0px;
  width: 43px;
  height: 43px;
}
.fb-footer:hover {
  background-image: url(../sprite.png);
  background-position: -113px 0px;
  width: 43px;
  height: 43px;
}
.fb {
  background-image: url(../sprite.png);
  background-position: -339px -192px;
  width: 26px;
  height: 26px;
}
.fb:hover {
  background-image: url(../sprite.png);
  background-position: -339px -96px;
  width: 26px;
  height: 26px;
}
.goods-list {
  background-image: url(../sprite.png);
  background-position: -435px -178px;
  width: 16px;
  height: 16px;
}
.goods-pic-list {
  background-image: url(../sprite.png);
  background-position: -435px -264px;
  width: 16px;
  height: 16px;
}
.goods-pic {
  background-image: url(../sprite.png);
  background-position: 0px -412px;
  width: 16px;
  height: 16px;
}
.left-arrow {
  background-image: url(../sprite.png);
  background-position: -524px -256px;
  width: 6px;
  height: 9px;
}
.map-pin {
  background-image: url(../sprite.png);
  background-position: -524px -86px;
  width: 12px;
  height: 16px;
}
.radio {
  background-image: url(../sprite.png);
  background-position: -91px -322px;
  width: 19px;
  height: 19px;
}
.radio:checked {
  background-image: url(../sprite.png);
  background-position: -269px -322px;
  width: 19px;
  height: 19px;
}
.right-arrow {
  background-image: url(../sprite.png);
  background-position: -524px -335px;
  width: 6px;
  height: 9px;
}
.slider {
  background-image: url(../sprite.png);
  background-position: -524px -172px;
  width: 8px;
  height: 14px;
}
.star-off {
  background-image: url(../sprite.png);
  background-position: 0px -322px;
  width: 21px;
  height: 20px;
}
.star-on {
  background-image: url(../sprite.png);
  background-position: -86px -412px;
  width: 16px;
  height: 15px;
}
.telephone {
  background-image: url(../sprite.png);
  background-position: -524px 0px;
  width: 12px;
  height: 16px;
}
.top-arrow {
  background-image: url(../sprite.png);
  background-position: -172px -412px;
  width: 18px;
  height: 11px;
}
.tw-footer {
  background-image: url(../sprite.png);
  background-position: 0px -113px;
  width: 43px;
  height: 43px;
}
.tw-footer:hover {
  background-image: url(../sprite.png);
  background-position: -113px -113px;
  width: 43px;
  height: 43px;
}
.tw {
  background-image: url(../sprite.png);
  background-position: -339px 0px;
  width: 26px;
  height: 26px;
}
.tw:hover {
  background-image: url(../sprite.png);
  background-position: -194px -226px;
  width: 26px;
  height: 26px;
}
.vk-footer {
  background-image: url(../sprite.png);
  background-position: -226px -113px;
  width: 43px;
  height: 43px;
}
.vk-footer:hover {
  background-image: url(../sprite.png);
  background-position: 0px 0px;
  width: 43px;
  height: 43px;
}
.vk {
  background-image: url(../sprite.png);
  background-position: -97px -226px;
  width: 27px;
  height: 26px;
}
.vk:hover {
  background-image: url(../sprite.png);
  background-position: 0px -226px;
  width: 27px;
  height: 26px;
}
