/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bottom-arrow-name: 'bottom-arrow';
$bottom-arrow-x: 0px;
$bottom-arrow-y: 0px;
$bottom-arrow-offset-x: 0px;
$bottom-arrow-offset-y: 0px;
$bottom-arrow-width: 13px;
$bottom-arrow-height: 9px;
$bottom-arrow-total-width: 43px;
$bottom-arrow-total-height: 2636px;
$bottom-arrow-image: '../img/sprite.png';
$bottom-arrow: (0px, 0px, 0px, 0px, 13px, 9px, 43px, 2636px, '../img/sprite.png', 'bottom-arrow', );
$checbox-name: 'checbox';
$checbox-x: 0px;
$checbox-y: 1184px;
$checbox-offset-x: 0px;
$checbox-offset-y: -1184px;
$checbox-width: 19px;
$checbox-height: 19px;
$checbox-total-width: 43px;
$checbox-total-height: 2636px;
$checbox-image: '../img/sprite.png';
$checbox: (0px, 1184px, 0px, -1184px, 19px, 19px, 43px, 2636px, '../img/sprite.png', 'checbox', );
$checbox-checked-name: 'checbox_checked';
$checbox-checked-x: 0px;
$checbox-checked-y: 917px;
$checbox-checked-offset-x: 0px;
$checbox-checked-offset-y: -917px;
$checbox-checked-width: 19px;
$checbox-checked-height: 19px;
$checbox-checked-total-width: 43px;
$checbox-checked-total-height: 2636px;
$checbox-checked-image: '../img/sprite.png';
$checbox-checked: (0px, 917px, 0px, -917px, 19px, 19px, 43px, 2636px, '../img/sprite.png', 'checbox_checked', );
$checbox-hover-name: 'checbox_hover';
$checbox-hover-x: 0px;
$checbox-hover-y: 1006px;
$checbox-hover-offset-x: 0px;
$checbox-hover-offset-y: -1006px;
$checbox-hover-width: 19px;
$checbox-hover-height: 19px;
$checbox-hover-total-width: 43px;
$checbox-hover-total-height: 2636px;
$checbox-hover-image: '../img/sprite.png';
$checbox-hover: (0px, 1006px, 0px, -1006px, 19px, 19px, 43px, 2636px, '../img/sprite.png', 'checbox_hover', );
$fb-footer-name: 'fb-footer';
$fb-footer-x: 0px;
$fb-footer-y: 2141px;
$fb-footer-offset-x: 0px;
$fb-footer-offset-y: -2141px;
$fb-footer-width: 43px;
$fb-footer-height: 43px;
$fb-footer-total-width: 43px;
$fb-footer-total-height: 2636px;
$fb-footer-image: '../img/sprite.png';
$fb-footer: (0px, 2141px, 0px, -2141px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'fb-footer', );
$fb-footer-hover-name: 'fb-footer_hover';
$fb-footer-hover-x: 0px;
$fb-footer-hover-y: 2480px;
$fb-footer-hover-offset-x: 0px;
$fb-footer-hover-offset-y: -2480px;
$fb-footer-hover-width: 43px;
$fb-footer-hover-height: 43px;
$fb-footer-hover-total-width: 43px;
$fb-footer-hover-total-height: 2636px;
$fb-footer-hover-image: '../img/sprite.png';
$fb-footer-hover: (0px, 2480px, 0px, -2480px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'fb-footer_hover', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 1548px;
$fb-offset-x: 0px;
$fb-offset-y: -1548px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 43px;
$fb-total-height: 2636px;
$fb-image: '../img/sprite.png';
$fb: (0px, 1548px, 0px, -1548px, 26px, 26px, 43px, 2636px, '../img/sprite.png', 'fb', );
$fb-hover-name: 'fb_hover';
$fb-hover-x: 0px;
$fb-hover-y: 1452px;
$fb-hover-offset-x: 0px;
$fb-hover-offset-y: -1452px;
$fb-hover-width: 26px;
$fb-hover-height: 26px;
$fb-hover-total-width: 43px;
$fb-hover-total-height: 2636px;
$fb-hover-image: '../img/sprite.png';
$fb-hover: (0px, 1452px, 0px, -1452px, 26px, 26px, 43px, 2636px, '../img/sprite.png', 'fb_hover', );
$goods-list-name: 'goods-list';
$goods-list-x: 0px;
$goods-list-y: 831px;
$goods-list-offset-x: 0px;
$goods-list-offset-y: -831px;
$goods-list-width: 16px;
$goods-list-height: 16px;
$goods-list-total-width: 43px;
$goods-list-total-height: 2636px;
$goods-list-image: '../img/sprite.png';
$goods-list: (0px, 831px, 0px, -831px, 16px, 16px, 43px, 2636px, '../img/sprite.png', 'goods-list', );
$goods-pic-list-name: 'goods-pic-list';
$goods-pic-list-x: 0px;
$goods-pic-list-y: 487px;
$goods-pic-list-offset-x: 0px;
$goods-pic-list-offset-y: -487px;
$goods-pic-list-width: 16px;
$goods-pic-list-height: 16px;
$goods-pic-list-total-width: 43px;
$goods-pic-list-total-height: 2636px;
$goods-pic-list-image: '../img/sprite.png';
$goods-pic-list: (0px, 487px, 0px, -487px, 16px, 16px, 43px, 2636px, '../img/sprite.png', 'goods-pic-list', );
$goods-pic-name: 'goods-pic';
$goods-pic-x: 0px;
$goods-pic-y: 573px;
$goods-pic-offset-x: 0px;
$goods-pic-offset-y: -573px;
$goods-pic-width: 16px;
$goods-pic-height: 16px;
$goods-pic-total-width: 43px;
$goods-pic-total-height: 2636px;
$goods-pic-image: '../img/sprite.png';
$goods-pic: (0px, 573px, 0px, -573px, 16px, 16px, 43px, 2636px, '../img/sprite.png', 'goods-pic', );
$left-arrow-name: 'left-arrow';
$left-arrow-x: 0px;
$left-arrow-y: 158px;
$left-arrow-offset-x: 0px;
$left-arrow-offset-y: -158px;
$left-arrow-width: 6px;
$left-arrow-height: 9px;
$left-arrow-total-width: 43px;
$left-arrow-total-height: 2636px;
$left-arrow-image: '../img/sprite.png';
$left-arrow: (0px, 158px, 0px, -158px, 6px, 9px, 43px, 2636px, '../img/sprite.png', 'left-arrow', );
$map-pin-name: 'map-pin';
$map-pin-x: 0px;
$map-pin-y: 745px;
$map-pin-offset-x: 0px;
$map-pin-offset-y: -745px;
$map-pin-width: 12px;
$map-pin-height: 16px;
$map-pin-total-width: 43px;
$map-pin-total-height: 2636px;
$map-pin-image: '../img/sprite.png';
$map-pin: (0px, 745px, 0px, -745px, 12px, 16px, 43px, 2636px, '../img/sprite.png', 'map-pin', );
$radio-name: 'radio';
$radio-x: 0px;
$radio-y: 1095px;
$radio-offset-x: 0px;
$radio-offset-y: -1095px;
$radio-width: 19px;
$radio-height: 19px;
$radio-total-width: 43px;
$radio-total-height: 2636px;
$radio-image: '../img/sprite.png';
$radio: (0px, 1095px, 0px, -1095px, 19px, 19px, 43px, 2636px, '../img/sprite.png', 'radio', );
$radio-checked-name: 'radio_checked';
$radio-checked-x: 0px;
$radio-checked-y: 1273px;
$radio-checked-offset-x: 0px;
$radio-checked-offset-y: -1273px;
$radio-checked-width: 19px;
$radio-checked-height: 19px;
$radio-checked-total-width: 43px;
$radio-checked-total-height: 2636px;
$radio-checked-image: '../img/sprite.png';
$radio-checked: (0px, 1273px, 0px, -1273px, 19px, 19px, 43px, 2636px, '../img/sprite.png', 'radio_checked', );
$right-arrow-name: 'right-arrow';
$right-arrow-x: 0px;
$right-arrow-y: 79px;
$right-arrow-offset-x: 0px;
$right-arrow-offset-y: -79px;
$right-arrow-width: 6px;
$right-arrow-height: 9px;
$right-arrow-total-width: 43px;
$right-arrow-total-height: 2636px;
$right-arrow-image: '../img/sprite.png';
$right-arrow: (0px, 79px, 0px, -79px, 6px, 9px, 43px, 2636px, '../img/sprite.png', 'right-arrow', );
$slider-name: 'slider';
$slider-x: 0px;
$slider-y: 318px;
$slider-offset-x: 0px;
$slider-offset-y: -318px;
$slider-width: 8px;
$slider-height: 14px;
$slider-total-width: 43px;
$slider-total-height: 2636px;
$slider-image: '../img/sprite.png';
$slider: (0px, 318px, 0px, -318px, 8px, 14px, 43px, 2636px, '../img/sprite.png', 'slider', );
$star-off-name: 'star-off';
$star-off-x: 0px;
$star-off-y: 1362px;
$star-off-offset-x: 0px;
$star-off-offset-y: -1362px;
$star-off-width: 21px;
$star-off-height: 20px;
$star-off-total-width: 43px;
$star-off-total-height: 2636px;
$star-off-image: '../img/sprite.png';
$star-off: (0px, 1362px, 0px, -1362px, 21px, 20px, 43px, 2636px, '../img/sprite.png', 'star-off', );
$star-on-name: 'star-on';
$star-on-x: 0px;
$star-on-y: 402px;
$star-on-offset-x: 0px;
$star-on-offset-y: -402px;
$star-on-width: 16px;
$star-on-height: 15px;
$star-on-total-width: 43px;
$star-on-total-height: 2636px;
$star-on-image: '../img/sprite.png';
$star-on: (0px, 402px, 0px, -402px, 16px, 15px, 43px, 2636px, '../img/sprite.png', 'star-on', );
$telephone-name: 'telephone';
$telephone-x: 0px;
$telephone-y: 659px;
$telephone-offset-x: 0px;
$telephone-offset-y: -659px;
$telephone-width: 12px;
$telephone-height: 16px;
$telephone-total-width: 43px;
$telephone-total-height: 2636px;
$telephone-image: '../img/sprite.png';
$telephone: (0px, 659px, 0px, -659px, 12px, 16px, 43px, 2636px, '../img/sprite.png', 'telephone', );
$top-arrow-name: 'top-arrow';
$top-arrow-x: 0px;
$top-arrow-y: 237px;
$top-arrow-offset-x: 0px;
$top-arrow-offset-y: -237px;
$top-arrow-width: 18px;
$top-arrow-height: 11px;
$top-arrow-total-width: 43px;
$top-arrow-total-height: 2636px;
$top-arrow-image: '../img/sprite.png';
$top-arrow: (0px, 237px, 0px, -237px, 18px, 11px, 43px, 2636px, '../img/sprite.png', 'top-arrow', );
$tw-footer-name: 'tw-footer';
$tw-footer-x: 0px;
$tw-footer-y: 2028px;
$tw-footer-offset-x: 0px;
$tw-footer-offset-y: -2028px;
$tw-footer-width: 43px;
$tw-footer-height: 43px;
$tw-footer-total-width: 43px;
$tw-footer-total-height: 2636px;
$tw-footer-image: '../img/sprite.png';
$tw-footer: (0px, 2028px, 0px, -2028px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'tw-footer', );
$tw-footer-hover-name: 'tw-footer_hover';
$tw-footer-hover-x: 0px;
$tw-footer-hover-y: 2593px;
$tw-footer-hover-offset-x: 0px;
$tw-footer-hover-offset-y: -2593px;
$tw-footer-hover-width: 43px;
$tw-footer-hover-height: 43px;
$tw-footer-hover-total-width: 43px;
$tw-footer-hover-total-height: 2636px;
$tw-footer-hover-image: '../img/sprite.png';
$tw-footer-hover: (0px, 2593px, 0px, -2593px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'tw-footer_hover', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 1836px;
$tw-offset-x: 0px;
$tw-offset-y: -1836px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 43px;
$tw-total-height: 2636px;
$tw-image: '../img/sprite.png';
$tw: (0px, 1836px, 0px, -1836px, 26px, 26px, 43px, 2636px, '../img/sprite.png', 'tw', );
$tw-hover-name: 'tw_hover';
$tw-hover-x: 0px;
$tw-hover-y: 1740px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -1740px;
$tw-hover-width: 26px;
$tw-hover-height: 26px;
$tw-hover-total-width: 43px;
$tw-hover-total-height: 2636px;
$tw-hover-image: '../img/sprite.png';
$tw-hover: (0px, 1740px, 0px, -1740px, 26px, 26px, 43px, 2636px, '../img/sprite.png', 'tw_hover', );
$vk-footer-name: 'vk-footer';
$vk-footer-x: 0px;
$vk-footer-y: 2254px;
$vk-footer-offset-x: 0px;
$vk-footer-offset-y: -2254px;
$vk-footer-width: 43px;
$vk-footer-height: 43px;
$vk-footer-total-width: 43px;
$vk-footer-total-height: 2636px;
$vk-footer-image: '../img/sprite.png';
$vk-footer: (0px, 2254px, 0px, -2254px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'vk-footer', );
$vk-footer-hover-name: 'vk-footer_hover';
$vk-footer-hover-x: 0px;
$vk-footer-hover-y: 2367px;
$vk-footer-hover-offset-x: 0px;
$vk-footer-hover-offset-y: -2367px;
$vk-footer-hover-width: 43px;
$vk-footer-hover-height: 43px;
$vk-footer-hover-total-width: 43px;
$vk-footer-hover-total-height: 2636px;
$vk-footer-hover-image: '../img/sprite.png';
$vk-footer-hover: (0px, 2367px, 0px, -2367px, 43px, 43px, 43px, 2636px, '../img/sprite.png', 'vk-footer_hover', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 1644px;
$vk-offset-x: 0px;
$vk-offset-y: -1644px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 43px;
$vk-total-height: 2636px;
$vk-image: '../img/sprite.png';
$vk: (0px, 1644px, 0px, -1644px, 27px, 26px, 43px, 2636px, '../img/sprite.png', 'vk', );
$vk-hover-name: 'vk_hover';
$vk-hover-x: 0px;
$vk-hover-y: 1932px;
$vk-hover-offset-x: 0px;
$vk-hover-offset-y: -1932px;
$vk-hover-width: 27px;
$vk-hover-height: 26px;
$vk-hover-total-width: 43px;
$vk-hover-total-height: 2636px;
$vk-hover-image: '../img/sprite.png';
$vk-hover: (0px, 1932px, 0px, -1932px, 27px, 26px, 43px, 2636px, '../img/sprite.png', 'vk_hover', );
$spritesheet-width: 43px;
$spritesheet-height: 2636px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($bottom-arrow, $checbox, $checbox-checked, $checbox-hover, $fb-footer, $fb-footer-hover, $fb, $fb-hover, $goods-list, $goods-pic-list, $goods-pic, $left-arrow, $map-pin, $radio, $radio-checked, $right-arrow, $slider, $star-off, $star-on, $telephone, $top-arrow, $tw-footer, $tw-footer-hover, $tw, $tw-hover, $vk-footer, $vk-footer-hover, $vk, $vk-hover, );
$spritesheet: (43px, 2636px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
