/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.bottom-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 13px;
  height: 9px;
}
.contacts__link_map:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -831px;
  width: 12px;
  height: 16px;
}
.contacts__link_telephone:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -659px;
  width: 12px;
  height: 16px;
}
.socials__link_fb-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2117px;
  width: 43px;
  height: 43px;
}
.socials__link_fb-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2230px;
  width: 43px;
  height: 43px;
}
.socials__link_tw-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2343px;
  width: 43px;
  height: 43px;
}
.socials__link_tw-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2456px;
  width: 43px;
  height: 43px;
}
.socials__link_vk-footer:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2569px;
  width: 43px;
  height: 43px;
}
.socials__link_vk-footer {
  background-image: url(../img/sprite.png);
  background-position: 0px -2682px;
  width: 43px;
  height: 43px;
}
.goods-list {
  background-image: url(../img/sprite.png);
  background-position: 0px -573px;
  width: 16px;
  height: 16px;
}
.goods-pic-list {
  background-image: url(../img/sprite.png);
  background-position: 0px -745px;
  width: 16px;
  height: 16px;
}
.goods-pic {
  background-image: url(../img/sprite.png);
  background-position: 0px -487px;
  width: 16px;
  height: 16px;
}
.left-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -158px;
  width: 6px;
  height: 9px;
}
.right-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -79px;
  width: 6px;
  height: 9px;
}
.sidebar-list__input:checked + .sidebar-list__label_box:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -917px;
  width: 19px;
  height: 19px;
}
.sidebar-list__input:checked + .sidebar-list__label_radio:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1095px;
  width: 19px;
  height: 19px;
}
.sidebar-list__label_box:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1184px;
  width: 19px;
  height: 19px;
}
.sidebar-list__label_box:hover:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1273px;
  width: 19px;
  height: 19px;
}
.sidebar-list__label_radio:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1362px;
  width: 19px;
  height: 19px;
}
.sidebar-list__label_radio:hover:before {
  background-image: url(../img/sprite.png);
  background-position: 0px -1006px;
  width: 19px;
  height: 19px;
}
.slider {
  background-image: url(../img/sprite.png);
  background-position: 0px -318px;
  width: 8px;
  height: 14px;
}
.socials__link_fb:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -1829px;
  width: 26px;
  height: 26px;
}
.socials__link_fb {
  background-image: url(../img/sprite.png);
  background-position: 0px -1925px;
  width: 26px;
  height: 26px;
}
.socials__link_tw:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -2021px;
  width: 26px;
  height: 26px;
}
.socials__link_tw {
  background-image: url(../img/sprite.png);
  background-position: 0px -1541px;
  width: 26px;
  height: 26px;
}
.socials__link_vk:hover {
  background-image: url(../img/sprite.png);
  background-position: 0px -1637px;
  width: 27px;
  height: 26px;
}
.socials__link_vk {
  background-image: url(../img/sprite.png);
  background-position: 0px -1733px;
  width: 27px;
  height: 26px;
}
.star-off {
  background-image: url(../img/sprite.png);
  background-position: 0px -1451px;
  width: 21px;
  height: 20px;
}
.star-on {
  background-image: url(../img/sprite.png);
  background-position: 0px -402px;
  width: 16px;
  height: 15px;
}
.top-arrow {
  background-image: url(../img/sprite.png);
  background-position: 0px -237px;
  width: 18px;
  height: 11px;
}
