extends ../main
block title
    title Магазин электроники
block page
    include ../_common/_page/_breadcrumb
    include ../_common/_page/_sidebar
    include ../_common/_page/_content
    include ../_common/_page/_info