.header-top{
  border-bottom: 2px solid #ebedef;
}
.header-top__wrapper{
  height: 77px;
}
.contacts__link{
  position: relative;
}
.contacts__link:after{
  @include before;
  position: absolute;
  top:1px;
  left: -20px;
}
.socials{
  left:0;
}
$contacts-height: 18px;
.contacts{
  position: absolute;
  height: $contacts-height;
  line-height: 100%;
  right: 0;
  top: 50%;
  margin-top: -$contacts-height/2;
}
.contacts__list{
  @include clearfix;
}
.contacts__item{
  float: left;
  margin-left: 85px;
}
.contacts__link{
  font-size: 14px;
  vertical-align: middle;
}