.main-header{
  font-size: 16px;
}
.header-nav, .header-top{
  background: white;
}
.header-top__wrapper, .header-bottom__wrapper, .navigate{
  width: 1100px;
  margin: auto;
  position: relative;
  @include clearfix;
}