.main-header{
  font-size: 16px;
}
.header-nav, .header-top{
  background: white;
  border-bottom: 2px solid #ebedef;
}
.header-top__wrapper, .header-bottom__wrapper, .navigate{
  @include main-central;
  @include clearfix;
}