//Хлебные крошки
.breadcrumps
    - var crumbText = ['Главная', 'Каталог']
    ul.breadcrumb-list
        each text in crumbText
            li.breadcrumb-list__item
                a(href="#" class="breadcrumb-list__link" title="#{text}") #{text}
    //Заголовок каталога
    .catalog-title Мобильные телефоны