//Навигация в хедере
nav.navigate
    - var navText = ['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
    ul.nav-list
        each text in navText
            li.nav-list__item
                a(href="#" class="nav-list__link" title="#{text}") #{text}
