//Нижняя часть хедера
.header-bottom
    //Лого
    a(href="index.html" title="Главная страница" class="logo")
        img(src="img/logo.png" alt="Logo" class="logo__img")
    //Поиск
    form.search
        input(type="text" name="search-text" class="search__text" placeholder="Что будем искать?")
        button(class="search__submit") Найти
    //Ссылки
    - var linksText = ['Карта проезда', 'История заказов', 'Корзина']
    ul.link-list
        each text in linksText
            li.link-list__item
                a(href="#" class="link-list__link" title="#{text}") #{text}