- var samsungS3 = {'img': 'samsungS3', 'name': 'Samsung GT-I9301I GALAXY S 3', 'simType': 'Micro-SIM', 'sim': '1', 'color': 'Белый', 'system': 'Android', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'Есть', 'rating': 4, 'price': '11 290', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var lumia640 = {'img': 'lumia640', 'name': 'Microsoft Lumia 640 RM-1077', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Белый', 'system': 'Windows Phone', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'A-GPS', 'rating': 4, 'price': '10 990', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var archos50 = {'img': 'archos50', 'name': 'Archos 50 Oxygen Plus', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Серый', 'system': 'Android', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'Есть', 'rating': 4, 'price': '9 990', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var philipsS398 = {'img': 'philipsS398', 'name': 'Philips S398 Black', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Черный', 'system': 'Android', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'Есть', 'rating': 4, 'price': '8 990', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var lumia430 = {'img': 'lumia430', 'name': 'Microsoft Lumia 430 RM-10', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Белый', 'system': 'Windows Phone', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'A-GPS', 'rating': 4, 'price': '5 390', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var senseitL301 = {'img': 'senseitL301', 'name': 'Senseit L301 Black', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Черный', 'system': 'Android', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'Есть', 'rating': 4, 'price': '4 990', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var hightscreen = {'img': 'hightscreen', 'name': 'HIGHSCREEN WinWin Black', 'simType': 'Micro-SIM', 'sim': '2', 'color': 'Черный', 'system': 'Windows Phone', 'has3g': 'Есть', 'has4g': 'Нет', 'gps': 'Есть', 'rating': 4, 'price': '3 990', 'stock': 'on-stock', 'stockText': 'В наличии'}

- var products = [samsungS3, lumia640, archos50, philipsS398, lumia430, senseitL301, hightscreen]