//Хлебные крошки
.breadcrumps
    - var crumbText = ['Главная', 'Каталог']
    ul.breadcrumb__list
        each text in crumbText
            li.breadcrumb__item
                a(href="#" class="breadcrumb__link" title="#{text}") #{text}
    //Заголовок каталога
    .catalog-title Мобильные телефоны